@import '../../../styles/variables.scss';

.dropdown {
  width: 100%;
  position: relative;
  user-select: none;
  font-size: 12px;

  &__btn {
    padding: 10px;
    background: $main;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-style: italic;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 5px;

    span {
      flex-grow: 1;
    }

    &:hover {
      background: darken($main, 4%);
    }
  }

  &__content {
    position: absolute;
    top: 110%;
    left: 0;
    padding: 10px;
    background: $main;
    box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    width: 100%;
    border-radius: 5px;

    &__item {
      padding: 10px;
      cursor: pointer;
      transition: all 0.2s;

      &:hover {
        background: darken($main, 4%);
      }
    }
  }
}
