@import '../../styles/variables.scss';

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;

  &.active {
    opacity: 1;
    pointer-events: all;
  }

  &__content {
    background: $main;
    border-radius: 5px;
    padding: 5px 20px;
    transform: scale(0.5);
    transition: 0.3s all;
    width: 50vw;

    &.active {
      transform: scale(1);
    }
  }
}

@media screen and (max-width: 450px) {
  .popup {
    width: 100vw;
      
    &__content {
      width: 90vw;
    }
  }
}

